html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #9cd295;
  color: #7d97ad;
  font-size: 18px;
  display: flex;
}

* {
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.list-text {
  display: flex;
}

.instructions {
  padding-top: 2%;
}
#map {
  top: 65%;
  height: 100%;
  left: 0%;
  position: absolute;
  right: 0px;
}



.hotspotItems {
  border: 1px solid #999;
  margin-top: 0.5%;
  font-weight: bolder;
  font-size: 22px;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: #2d3c49;
  margin-left: -5%;
  width: 100%;
  border-radius: 5px;
}

.hotspotItems:hover {
  background-color: #3e8e41
}

.hotspotItems:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.container {
  max-height: 100%;
  position: relative;
  padding-bottom: 2%;
  text-align: center;
  background-color: #9cd295;
  color: black;
  font-size: 22px;
  font-weight: bolder;
}

.currentMarkers {
  border: 1px solid #999;
  margin-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  #map {
    top: 42%;
  }

  .container {
    width: 100%;
    margin-left: 45%;
  }

  .hotspotItems {
    margin-top: 0.5%;
  }

}

@media only screen and (min-width: 1024px) {
  #map {
    top: 0%;
    left: 25%;
  }

  .container {
    position: relative;
    margin-top: 10%;
    margin-left: 17%;
    height: 100%;
    max-width: 39.5%;
  }

  .dropdowns {
    margin-left: -17%;
  }

  .hotspotItems {
    margin-left: -67%;
    margin-top: 0.5%;
    font-size: 16px;
    width: 190%;
  }
}


@media only screen and (min-width: 1400px) {
  #map {
    top: 0%;
    left: 25%;
  }

  .container {
    position: relative;
    margin-left: 15%;
    height: 100%;
    max-width: 39.5%;
  }

  .hotspotItems {
    margin-top: 0.5%;
    font-size: 14px;
    width: 140%;
  }

  .show-me {
    margin-left: -20%;
    margin-bottom: -5%;
  }

  .instructions {
    margin-left: 15%;
  }

  .list-markers {
    margin-left: -35%;
  }
}
