html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #9cd295;
  color: #7d97ad;
  font-size: 18px;
  display: flex;
}

* {
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.list-text {
  display: flex;
}

#map {
  top: 60%;
  height: 100%;
  left: 0%;
  position: absolute;
  right: 0px;
}



.hotspotItems {
  border: 1px solid #999;
  margin-top: 0.5%;
  font-weight: bolder;
  font-size: 22px;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: #2d3c49;
  margin-left: -5%;
  width: 100%;
}

.container {
  max-height: 100%;
  position: relative;
  border: 1px solid #999;
  padding-bottom: 2%;
  text-align: center;
  background-color: #9cd295;
  color: black;
  font-size: 22px;
  font-weight: bolder;
}

.currentMarkers {
  border: 1px solid #999;
  margin-top: 5%;
  padding-bottom: 2%;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  #map {
    top: 40%;
  }

  .container {
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
  }

  .hotspotItems {
    margin-top: 0.5%;
  }

}

@media only screen and (min-width: 1000px) {
  #map {
    top: 0%;
    left: 25%;
  }

  .container {
    position: relative;
    margin-left: 0%;
    height: 100%;
    max-width: 39.5%;
  }

  .hotspotItems {
    margin-top: 0.5%;
    font-size: 14px;
    width: 95%
  }



}
